{% extends "base.html" %}
{% block content %}
    {% for post in posts %}
    <main role="main" class="container">
        <div class="row">
          <div class="col-md-8">

        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            <p class="article-content">{{ post.description2 | safe }} </p>
          </div>
        </article>
        
        </div>
        </div>
        </main>
    {% endfor %}
{% endblock content %}